<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553365672209-h903fosf1qa19dnm5bbc5gc1pgjm7mr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553365672209-h903fosf1qa19dnm5bbc5gc1pgjm7mr3</string>
	<key>API_KEY</key>
	<string>AIzaSyDSmt_SKgmz0wLzy32KbXqdSji8O49RId8</string>
	<key>GCM_SENDER_ID</key>
	<string>553365672209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappFlutter</string>
	<key>PROJECT_ID</key>
	<string>clone-whatsapp-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-whatsapp-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553365672209:ios:a2d27d68366622ab513cb0</string>
</dict>
</plist>